.card-market {
  background-color: #61BC31;
  padding: 16px;
}

.market-select {
  color: #fff;
}

.icon-market {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fff;
  border-radius: 50%;
  background-size: 80% auto;
}

.detalle-orden {
  border: 1px solid #61BC31;
  border-radius: .25rem;
}

.espacio-vacio {
  width: 44px;
}

.border-market {
  border: 1px solid rgba(0,0,0,.125);
}

.text-align {
  text-align: left;
}

.total-price {
  color: #61BC31;
  font-weight: 900;
  font-size: 18px;
}
