/* Alinear acordeon */
.accordion {
  font-family: Lato;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
/* Alinear titulo */
h1 {
  text-align: center;
  font-family: Lato;
  font-size: 35px;
}
/* Alinear Botones */
.card-header {
  padding: 0;
}
/* Alinear Logo */
.logo-navbar {
  height: 58px;
  padding: 10px;
}
/* Search */
#search {
  border: none;
  border-radius: 25px;
  padding: 0 15px;
  color: #B9B9B9;
}
@media (max-width: 576px) {
  #search {
    display: none;
  }
}
