/* ---------------------------------------------------
    Login
----------------------------------------------------- */

.navbar-login {
  height: 64px;
}

.card-shadow {
  border: none;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,.07);
  padding: 15px 40px;
}

.title-login {
  font-weight: bold;
  color: #69B948;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 35px;
}

.input-login {
  border: none;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  color: #CDCDCD;
  margin-bottom: 16px;
}

.remember input[type="checkbox"] {
  display: none;
}

.remember label {
  color: #69B948;
  padding: 2px 10px 2px 25px;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
}

.remember label:hover {
  color: #4B9F1E;
}

.remember label:before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 2px solid #69B948;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
  cursor: pointer;
}

.remember input[type="checkbox"]:checked + label:before {
  background-color: #69B948;
}

.btn-ingresar {
  color: #69B948;
  border: 1px solid #69B948;
  border-radius: 25px;
  background-color: #fff;
  margin: 16px 0;
  padding: 2px 20px;
}

.btn-ingresar:hover {
  color: #fff;
  background-color: #69B948;
}

.redirect {
  text-align: center;
  color: #a3a4a6;
}

.redirect-link {
  color: #69B948;
}

.redirect-link:hover {
  color: #39A00F;
}

/* ---------------------------------------------------
    Register
----------------------------------------------------- */

.terminos-y-condiciones {
  font-size: 0.7rem;
  text-align: justify;
  color: #a3a4a6;
  margin: 14px 0 15px 0;
}

/* ---------------------------------------------------
    login-register
----------------------------------------------------- */

body.bg-grey-login-register {
  font-family: 'Lato', sans-serif;
  background-color: #F2F2F2;
  min-height: 100vh;
}

/* ---------------------------------------------------
    Contact
----------------------------------------------------- */

.icon-contact-list {
  color: #61BC31;
  font-size: 60px;
  text-align: center;
  margin: auto;
}

.message-area {
  width: 90%;
  color: #707070;
  height: 20vh;
  padding: 0 8px;
  margin-top: 16px;
}

/* ---------------------------------------------------
    Media
----------------------------------------------------- */

@media (min-width: 992px) {

  .card-shadow {
    padding: 15px 70px;
  }

}

@media (min-width: 430px) {

  .card-shadow {
    padding: 15px 90px;
  }

}
