/* ---------------------------------------------------
    Descripción Producto
----------------------------------------------------- */

.card-brd-green {
  border: 1px solid #61BC31;
}

/* ---------- descripción ---------- */

.costo-dscp {
  font-size: 20px;
  font-weight: 900;
  color: #61BC31;
  margin-bottom: 0;
}

.preciopromedio-dscp {
  color: #B9B9B9;
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 15px;
}

/* ---------- especificaciones ---------- */

.titulo-especificaciones {
  text-align: center;
  background-color: #61BC31;
  color: #fff;
}
